<div id="page-inner">

      <div class="form-group">
        <?= $this->Form->create() ?>
          <fieldset>
           <h2>
             <legend><?= __('Add User') ?></legend>
            </h2> 

<?php echo $this->Form->control('email', array('class'=>'form-control')); ?> </br>
 <?=  $this->Form->button('Submit', array('class' => 'btn btn-default')); ?>
<?php echo $this->Form->end(); ?>
