.space{padding-top:100px; padding-bottom:100px;}

.btn { display: inline-block; padding: 10px 20px; margin-bottom: 0; font-size: 13px; font-weight: 800; letter-spacing: 1px; line-height: 1.42857143; text-align: center; border: none; text-transform: uppercase; border-radius: 0px; }
.btn-default { color: #fff; background-color: #333; }
.btn-default:hover { color: #fff; background-color: #019852; border-color: #019852; }
.btn-default.focus, .btn-default:focus { color: #fff; background-color: #019852; border-color: #019852; }
.btn-primary { background-color: #474747; color: #333; }
.btn-primary:hover { background-color: #333; color: #fff; }
 
.btn-white { color: #333; background-color: #fff; border: 1px solid #fff; }
.btn-white:hover { background-color: #ddd; border-color: #ddd; color: #333; }
.btn-white.focus, .btn-white:focus { background-color: #019852; border-color: #019852; color: #fff; }

.widget { margin-bottom: 4px; background-color: #eef4f1; padding: 40px; }
.widget-title { margin-bottom: 20px; margin-top:0px; }
.well-default{background-color: #ffb300;}
.well-primary{background-color: #ff515b;}
.well-secondary{background-color: #0db2f0;}
.widget-call-to-action {}
.widget-call-to-action .widget-title{font-size: 42px; color: #fff; font-weight: 600;}
.widget-call-to-action p{font-size: 18px; color:#fff; margin-bottom:30px;}

.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-left > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}