/*
	Copywrite Square Bracket LLC - Sean Clark 2012-3012
	http://square-bracket.com 	
	http://connect.ai	
	http://youtube.com/optikalefxx
*/
.tags-wrapper {
	background:white;
	overflow:hidden;
	width:relative;
	background-image: -webkit-linear-gradient(top, rgb(238, 238, 238) 1%, white 15%);
	box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}
.tags-wrapper ul {
	margin:0px;
	padding:0px;
}
.tags-wrapper li {
	float:left;
}
.tags-wrapper li.tag {
	font-family:verdana;
	font-size:11px;
	
	border-radius:3px;
	list-style: none;
	background-clip: padding-box;
	background-color: rgb(228, 228, 228);
	background-image:-webkit-linear-gradient(top, rgb(9, 184, 255) 20%, rgb(137, 221, 255) 50%, rgb(137, 221, 255) 52%, rgb(137, 221, 255) 100%);
	box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
	color: rgb(51, 51, 51);
	border: 1px solid rgb(170, 170, 170);
	line-height: 13px;
	padding: 1px 3px 3px 5px;
	margin: 3px 0 3px 5px;
}
.tags-wrapper li a {
	text-decoration:none;
	color:white;
	padding:2px;
	display:inline-block;
	margin-left:6px;
	color: rgb(51, 51, 51);
}
.tags-wrapper li a:hover {
	color:#222;
}
.tags-wrapper input {
	display:none;
}
.tags-wrapper li.tags-input {
	white-space: nowrap;
	margin: 0;
	padding: 0;
}
.tags-wrapper li input {
	display:block;
	background:trasparent;
	outline:none;
	border:none;
	font-size:11px;
	height: auto;
	width:30px;
	margin: 4px;
}
.tags-wrapper .autofill-bg {
	position:relative;
	top:4px;
}