<?php echo $this->Html->css('payment_options.css'); ?>


<div class="container">
			<div class="row">
				<div class="templatemo-line-header head_contact">
					<div class="text-center">
						<hr class="team_hr team_hr_left hr_gray" /><span class="txt_darkgrey">PAYMENT METHOD</span>
						<hr class="team_hr team_hr_right hr_gray" />
					</div>
				</div>
		</div>
	</div>

<div class="container">
		<div class="row">
			<div class=".col-xs-6">

			<div class="op1">
				<h1></br>
					<form name="_xclick" 
								action="https://www.sandbox.paypal.com/cgi-bin/webscr"
								method="post">
							<input type="hidden" name="cmd" value="_xclick">
							<input type="hidden" name="upload" value="1">
							<input type="hidden" name="lc" value="AU">
							<input type="hidden" name="business" value="sandboxemail@test.com"> <!-- muscleworksmassage@outlook.com is the actual business account-->
							<input type="hidden" name="currency_code" value="AUD">
							<input type="hidden" name="cancel_return" value="http://team16-tkra6570911.codeanyapp.com/vouchers/prices">
							<input type="hidden" name="item_name" value="GIFT VOUCHER">
							<input type="hidden" name="amount" value="<?php echo $value; ?>">
							<input type="hidden" name='no_shipping' value="0">
							<input type="hidden" name='rm' value="2">
							<input type="hidden" name="bn" value="PP-BuyNowBF">
							<input type="hidden" name="return" value="http://team16-tkra6570911.codeanyapp.com/vouchers/success"/>
							<input type="image" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_200x51.png" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
			<img alt="" border="0" src="https://www.sandbox.paypal.com/en_AU/i/scr/pixel.gif" width="1" height="1">
					</form> 
				</h1>
			</div>
			</div>
			<div class=".col-xs-6">

<div class="op2">
				<h1><a href="<?php echo $this->url->build(array('controller' => 'vouchers', 'action' => 'phonePayment')) ?>"<img><?php echo $this->Html->image('phone-logo.svg'); ?><img></a>
</div>
	</div>
</div>
  
  	