<div class="container">
			<div class="row">
				<div class="templatemo-line-header head_contact">
					<div class="text-center">
						<hr class="team_hr team_hr_left hr_gray" /><span class="txt_darkgrey">PHONE PAYMENT</span>
						<hr class="team_hr team_hr_right hr_gray" />
					</div>
				</div>
        <div class="templatemo-service-item">
					<div class="text-center">
			<ul class="templatemo-project-gallery">
      <p><center>Your voucher details have been recorded.</br> Please contact MuscleWorks Massage at </br> <span class="txt_orange">(03) 9530 6400</span></br>
        To finalise your purchase and have your voucher emailed to you. Thank you for your purchase.</center></p>
					</div>	
		</div>
	</div>
</div>
