
<div class="templatemo-welcome" id="templatemo-service">
		<div class="container">
			<div class="templatemo-slogan text-center">
				<span class="txt_darkgrey">Purchase </span><span class="txt_orange">Successful</span>
				<p class="txt_slogan"><i> A copy of your voucher has been sent to your email. 
                                  Thank you for purchasing." </i></p>
				
			</div>
		</div>
	</div>

