<?php $payment = array('0'=> 'Unpaid', '1' => 'Paypal Payment', '2' => 'Phone Payment', '3' => 'Cash Payment'); ?>

<div id="page-inner">

      <div class="form-group">
        <?= $this->Form->create($archive) ?>
          <fieldset>
           <h2>
             <legend><?= __('Edit Archive') ?></legend>
            </h2> 
            
          <?php  echo $this->Form->control('fromName', array('class'=>'form-control')); ?> </br>
          <?php  echo $this->Form->control('fromEmail', array('class'=>'form-control')); ?></br>
          <?php  echo $this->Form->control('phoneNumber', array('class'=>'form-control')); ?></br>
          <?php  echo $this->Form->control('toName', array('class'=>'form-control')); ?></br>
          <?php  echo $this->Form->control('message', array('class'=>'form-control')); ?></br>
          <?php  echo $this->Form->control('datePurchase', array('class'=>'form-control','empty' => true)); ?></br>
          <?php  echo $this->Form->control('expiry', array('class'=>'form-control')); ?></br>
          <?php  echo $this->Form->control('paymentStatus', array('class'=>'form-control','options' => $payment)); ?></br>
          <?php  echo $this->Form->control('status_id', array('class'=>'form-control','options' => $status)); ?></br>
          <?php  echo $this->Form->control('prices_id', array('class'=>'form-control','options' => $prices)); ?></br>
        
    </fieldset>
 <?=  $this->Form->button('Submit', array('class' => 'btn btn-default')); ?>
    <?= $this->Form->end() ?>
</div>


