
        <?php foreach ($pagecontents as $pagec): ?>
        <tr>
					
<div class="templatemo-welcome" id="templatemo-service">
		<div class="container">
			
						<div class="row">
				<div class="templatemo-line-header" style="margin-top: 0px;">
					<div class="text-center">
						<hr class="team_hr team_hr_left hr_gray" /><span class="txt_darkgrey"><?php echo $pagec['section']; ?></span>
						<hr class="team_hr team_hr_right hr_gray" />		
				
				<p class="txt_slogan"><i> 	
					<div class="col-md-8"> <h2>
						<?php
				echo $pagec['content']; ?> </i></p> </h2>
					

        </tr>
        <?php endforeach; ?>
        <div class="row">
          <div class="col-lg-6">
          </div>
          <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->
      </div>
				
			</div>
		</div>
</div>
