<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  	
</nav>

<nav class="fh5co-nav" role="navigation">
				<div class="top-menu">
					<div class="container">
						
						<div id ="mobileBtn"></div>
						<div class="row">
							<div class="col-xs-2">
							<div id="fh5co-logo"><a href="/pages/home"><img src="/img/logoNEW.jpg"</img></a></div>
							</div>
<!-- 							<div id ="mobileBtn"> -->
							<div class="col-xs-10 text-right menu-1"  id ="mobileBtn">
								<ul>
									<li><a href="<?php echo $this->url->build(array('controller' => 'pages', 'action' => 'home')) ?>">Home</a></li>
									<li><a href="#fh5co-contact">Contact</a></li>
									<?php foreach ($menupage as $menupages): ?>
									<?php if (($menupages->page != "book") && (($menupages->page != "home"))) { ?>

									<li>
										<a href="<?php echo $this->url->build(array('controller' => 'pages', 'action' => ($menupages->page))) ?>">
											<?php $pageName = ($menupages->page); 
											echo strtoupper($pageName); ?>
										</a>
									</li>
									<?php	} ?>
										<?php endforeach; ?>
										<li><button type="button" class="btn btn-primary btn-outline btn-sm"><a href="<?php echo $this->url->build(array('controller' => 'pages', 'action' => 'book')) ?>" >Book Now</a></button></li>
										<li><button type="button" class="btn btn-primary btn-outline btn-sm"><a href="<?php echo $this->url->build(array('controller' => 'vouchers', 'action' => 'prices')) ?>" >Buy Now</a></button></li>
								</ul>
							</div>
<!-- 							</div> -->
						</div>

					</div>
				</div>
			</nav>