<?php echo $this->Html->css('menuBar.css'); ?>
  
  <div class="navT">
    <div class="icon"></div>
    <div class="mylogo">hi</div>
  </div>
  
  <div id="menu">
    <ul>
      <li><a>Hom<span class="space">e</span></a></li>
      <li><a>Abou<span class="space">t</span></a></li>
      <li><a>Wor<span class="space">k</span></a></li>
      <li><a>Blo<span class="space">g</span></a></li>
      <li><a>Contac<span class="space">t</span></a></li>
    </ul>
  </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
$(".navT").on("click", function(){
  $(this).toggleClass("active");
  $("#menu").toggleClass("open");
  $(".content").toggleClass("shift");
  
  
});
  
});
</script>
  
  
  
  
  
  
  
  
  
</script>