<?php echo $this->Html->script(array('/bs-binary-admin/assets/js/jquery-1.10.2.js', '/bs-binary-admin/assets/js/bootstrap.min.js', '/bs-binary-admin/assets/js/jquery.metisMenu.js', '/bs-binary-admin/assets/js/custom.js')); ?>
<?php echo $this->Html->script('http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'); ?>
<?php echo $this->Html->css('responsiveiframe');?>
<?php include_once("analyticstracking.php") ?>


<?php foreach ($pagecontents as $pagec): ?> 
<?php if ($pagec['section'] == 'Promotion') { ?>

			<div id="fh5co-started" class="fh5co-bg" style="background-image: url(/img/graybg.jpg);">
				<div class="overlay"></div>
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
							<h2><?php echo $pagec->heading; ?></h2>
						</div>
					</div>
					<div class="row animate-box">
						<div class="col-md-8 text-center">

	<tr>

			<div class="container">
				
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
					<!-- Indicators -->
					<ol class="carousel-indicators">
						<?php $count =0; ?>
						<?php foreach ($thePromotion as $thePromotions):   ?>
					  <?php	if ($count == 0) { ?>
						<li data-target="#myCarousel" data-slide-to="<?php echo $count; ?>" class="active"></li>
						<?php $count = $count + 1; } else { ?>
						
						<li data-target="#myCarousel" data-slide-to="<?php echo $count; ?>"></li>
						<?php $count = $count + 1; } ?>
						<?php endforeach; ?>
					</ol>
					
				
					
					<!-- Wrapper for slides -->
					<div class="carousel-inner">
						<?php $theCount =0;?>
			<?php foreach ($thePromotion as $thePromotions): ?>
						<?php
									$input = $thePromotions->image;
									preg_match("%src=\"([^\"])+(png|jpg|gif)\"%i",$input,$result);
						?>
				<?php	if ($theCount == 0) { ?>
						<div class="item active">
<!-- 							<img style="width:1200px; height:400px;" <?php //echo ($thePromotions->image);?></img> -->
							<img <?php echo $result[0]; ?> style="display: block; margin: 0 auto; width:1200px; height:400px;"</img>
							<div class="carousel-caption">
								<h3><?php echo ($thePromotions->main);?></h3>
								 <p><?php echo ($thePromotions->detail);?></p>
							</div>
						</div>
						<?php $theCount = $theCount + 1; } else { ?>
			<div class="item">
<!--         <img style="width:1200px; height:400px;" <?php //echo ($thePromotions->image);?> ?></img> -->
				<img <?php echo $result[0]; ?> style="display: block; margin: 0 auto; width:1200px; height:400px;"</img>
        <div class="carousel-caption">
          <h3><?php echo ($thePromotions->main);?></h3>
          <p><?php echo ($thePromotions->detail);?></p>
        </div>
      </div>
						<?php $theCount = $theCount + 1; } ?>
						<?php endforeach; ?>
					</div>
					

					<!-- Left and right controls -->
					<a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
					<a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
				</div>
			</div>
						</div>
					</div>
				</div>
			</div>
		<br/>

		</tr>
	</div>
</div>
		<br/>
<br/>
			<?php } else { ?>



			<div class="templatemo-welcome" id="templatemo-service">
				<div class="container">

					<div class="row">
						<div class="templatemo-line-header" style="margin-top: 0px;">
							<div class="text-center">
								<hr class="team_hr team_hr_left hr_gray" /><span class="txt_darkgrey"><?php echo $pagec['section']; ?></span>
								<hr class="team_hr team_hr_right hr_gray" />

								<p class="txt_slogan"><i> 	
					<div class="col-md-8"> <h2>
						<?php
				echo $pagec['content']; ?> </i></p>
								</h2>


	</tr>
	<?php } ?>

	<?php endforeach; ?>
	<div class="row">
		<div class="col-lg-6">
		</div>
		<!-- /.col-lg-6 -->
	</div>
	<!-- /.row -->

	</div>
	</div>
	</div>
	</tr>
	</div>
	</div>
</div>
<hr/>

<br/>
<br/>
<div class="templatemo-welcome" id="templatemo-service">
		<div class="container">
	<div class="row">
						<div class="col-md-2">
						</div>

						<div class="col-md-2">
								<?php echo $this->Html->link("Wait List", array('controller' => 'clients', 'action'=> 'wait-list'), array( 'class' => 'btn btn-primary btn-outline btn-md','div' => false, 'label' => false)); ?>
						</div>
						</div>
						<div class="row">
		<div class="col-md-2">
 						</div>

			<div class="col-md-2">
				<p><iframe id = "iframeAdjust" src="https://muscleworksmassage.cliniko.com/bookings?embedded=true" frameborder="0" scrolling="auto" width="700" height="900"></iframe></p>
				</div>
				</div>
			</div>
		</div>
	</div>
