
<?php include_once("analyticstracking.php") ?>
      

			<div id="fh5co-trainer" >
				<div class="container">
					<div class="row animate-box">
						<?php foreach ($pagecontents as $pagec): ?>
						<div class="#<?php echo $pagec['section']; ?>" id="<?php echo $pagec['section']; ?>">
						<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
							<h2><?php echo $pagec['section']; ?></h2>
						</div>
					</div>
		<div class="#<?php echo $pagec['section']; ?>" id="<?php echo $pagec['section']; ?>">
		<div class="container">
			<div class="row">



				<!-- First Remedial Div -->
				<div class="col-md-6" id="Remedial-Massage1">
					<?php	echo $pagec['content']; ?>
					
				</div>
				</br>
			</div>
		</div>
		<!-- End Remedial Div-->
	</div>

					
				</div>
			</div>
</div>

<?php endforeach; ?>					