

<?php echo $this->Html->css('payment_options.css'); ?>
<?php echo $this->Html->css('https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'); ?>
<?php include_once("analyticstracking.php") ?>

<div id="fh5co-testimonial" class="fh5co-bgwhite">
				<div class="container">
					<div class="row animate-box">
						<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
							<h2>Success</h2>
						</div>
					</div>
	</div>
	
		<div class="row" style="margin: 0px 10px 10px 10px;">
              <div class="col-md-4 col-md-offset-4">
              Your payment was successful! A copy of your voucher has been sent to your email address.<br><br> If you have any enquiries regarding your voucher and how it can be redeemed by you or others, please contact us.
</div>
  </div>
</div>

