Dear Customer,<br><br>

<h1>
Thanks for your recent booking with Muscleworks Massage, your purchase has been processed;
</h1>

<br>
<p>GV Code: <?php echo $uuid?>
</p> <br>

<p>Recipient: <?php echo $toName?>
</p><br>

<p>From: <?php echo $fromName?>
</p><br>

<p>Price:<?php echo $price?>
</p><br>

<p>Expiry:<?php echo $expiry?>
</p><br>

<p>Message:<?php echo $message?>
</p><br>


<b>Yours Sincerely,</b><br>
<b>Muscleworks Massage</b>

